In [1]:
# import dependencies
import pandas as pd
import numpy as np
import numerapi
from sklearn.linear_model import LinearRegression 

import warnings 
warnings.filterwarnings("ignore")

In [2]:
# operating system
import os
os.getcwd()

'C:\\Users\\ADMIN'

In [3]:
training_data=pd.read_csv("latest_numerai_training_data.csv.xz")
training_data.head()

,id,era,data_type,feature_intelligence1,feature_intelligence2,feature_intelligence3,feature_intelligence4,feature_intelligence5,feature_intelligence6,feature_intelligence7,...,feature_wisdom38,feature_wisdom39,feature_wisdom40,feature_wisdom41,feature_wisdom42,feature_wisdom43,feature_wisdom44,feature_wisdom45,feature_wisdom46,target
0,n000315175b67977,era1,train,0.00,0.50,0.25,0.00,0.5,0.25,0.25,...,1.00,1.00,0.75,0.50,0.75,0.50,1.00,0.50,0.75,0.50
1,n0014af834a96cdd,era1,train,0.00,0.00,0.00,0.25,0.5,0.00,0.00,...,1.00,1.00,0.00,0.00,0.75,0.25,0.00,0.25,1.00,0.25
2,n001c93979ac41d4,era1,train,0.25,0.50,0.25,0.25,1.0,0.75,0.75,...,0.25,0.50,0.00,0.00,0.50,1.00,0.00,0.25,0.75,0.25
3,n0034e4143f22a13,era1,train,1.00,0.00,0.00,0.50,0.5,0.25,0.25,...,1.00,1.00,0.75,0.75,1.00,1.00,0.75,1.00,1.00,0.25
4,n00679d1a636062f,era1,train,0.25,0.25,0.25,0.25,0.0,0.25,0.50,...,0.75,0.75,0.25,0.50,0.75,0.00,0.50,0.25,0.75,0.75

In [4]:
training_data.tail()

,id,era,data_type,feature_intelligence1,feature_intelligence2,feature_intelligence3,feature_intelligence4,feature_intelligence5,feature_intelligence6,feature_intelligence7,...,feature_wisdom38,feature_wisdom39,feature_wisdom40,feature_wisdom41,feature_wisdom42,feature_wisdom43,feature_wisdom44,feature_wisdom45,feature_wisdom46,target
501803,nff6a8a8feaeeb52,era120,train,0.50,0.50,0.25,0.00,0.00,0.50,0.75,...,0.50,0.50,0.75,0.50,0.50,0.75,0.25,0.25,0.25,0.50
501804,nff6af62a0996372,era120,train,1.00,0.00,0.00,1.00,0.50,0.75,0.75,...,1.00,1.00,1.00,1.00,1.00,0.00,0.75,1.00,1.00,0.75
501805,nff9288983b8c040,era120,train,0.75,0.50,0.50,0.50,0.25,0.50,0.25,...,1.00,0.75,0.25,1.00,1.00,1.00,0.25,0.00,0.00,0.25
501806,nffaab4e1cacc4b1,era120,train,0.25,0.25,0.25,0.50,0.00,1.00,1.00,...,0.75,0.75,0.75,0.75,0.75,0.50,0.50,0.25,0.75,0.50
501807,nffba5460b572cfa,era120,train,0.75,0.50,0.50,0.75,0.75,0.00,0.00,...,0.50,0.50,0.25,0.50,0.75,1.00,0.25,0.75,0.50,0.50

In [5]:
# Examining the data size
print(training_data.shape)

(501808, 314)

In [6]:
# considering only the feature columns from the dataframe
explanatory_variables = training_data.columns[training_data.columns.str.startswith('feature')]

In [7]:

# select those columns out of the training dataset
training_features = training_data[explanatory_variables]

In [8]:
training_features.head()

,feature_intelligence1,feature_intelligence2,feature_intelligence3,feature_intelligence4,feature_intelligence5,feature_intelligence6,feature_intelligence7,feature_intelligence8,feature_intelligence9,feature_intelligence10,...,feature_wisdom37,feature_wisdom38,feature_wisdom39,feature_wisdom40,feature_wisdom41,feature_wisdom42,feature_wisdom43,feature_wisdom44,feature_wisdom45,feature_wisdom46
0,0.00,0.50,0.25,0.00,0.5,0.25,0.25,0.25,0.75,0.75,...,1.00,1.00,1.00,0.75,0.50,0.75,0.50,1.00,0.50,0.75
1,0.00,0.00,0.00,0.25,0.5,0.00,0.00,0.25,0.50,0.50,...,0.75,1.00,1.00,0.00,0.00,0.75,0.25,0.00,0.25,1.00
2,0.25,0.50,0.25,0.25,1.0,0.75,0.75,0.25,0.00,0.25,...,0.50,0.25,0.50,0.00,0.00,0.50,1.00,0.00,0.25,0.75
3,1.00,0.00,0.00,0.50,0.5,0.25,0.25,0.75,0.25,0.50,...,0.75,1.00,1.00,0.75,0.75,1.00,1.00,0.75,1.00,1.00
4,0.25,0.25,0.25,0.25,0.0,0.25,0.50,0.25,0.25,0.50,...,0.50,0.75,0.75,0.25,0.50,0.75,0.00,0.50,0.25,0.75

In [9]:
response_variables = training_data.columns[training_data.columns.str.startswith('target')]

In [10]:
training_target = training_data[response_variables]

In [11]:
training_target.head()

   target
0    0.50
1    0.25
2    0.25
3    0.25
4    0.75

In [12]:
# Invoking the linear regression function and find the best fit model on training data
Regression_Model=LinearRegression()
Regression_Model.fit(training_features, training_target)

LinearRegression()

In [13]:
print(Regression_Model.intercept_)

[0.48014997]

#### The intercept of the model is 0.4802

In [14]:
print(Regression_Model.coef_)

[[ 2.73267772e-03 -6.43389513e-03 -6.02711714e-03 -4.64649887e-03
   2.89546680e-03 -6.95046796e-04  3.77177850e-03 -1.60129962e-03
  -5.59278477e-03  7.88001033e-04 -2.67401140e-03  3.39810783e-04
  -7.69203462e-04 -3.51780573e-03 -1.10768085e-03  1.44623580e-03
  -3.16061541e-03  2.28798288e-03  8.61206526e-04 -4.03123991e-04
  -9.85993606e-04  2.84563941e-03 -8.55643024e-04 -1.36557143e-03
   1.66628775e-03 -2.31406171e-03  1.18743271e-04  4.36874286e-04
  -2.38209485e-03  3.45974039e-03  3.12487335e-03 -1.39692129e-03
   7.73661203e-05  3.89915469e-03 -2.09505480e-04  4.80305024e-03
  -9.12749121e-04  7.71601962e-04 -2.16368322e-03 -1.69986706e-03
   1.16477390e-03  3.07025593e-03 -1.48057387e-03 -3.97160103e-03
   1.96435452e-03 -4.79132738e-03 -3.55967565e-03  4.40265736e-04
   1.52036422e-03 -2.78661886e-03  1.86731558e-04  1.18047459e-04
   4.19632240e-03 -7.96043070e-04  1.48744380e-03 -2.63388308e-03
   2.02359473e-03  1.32500940e-03  9.49454240e-04  5.01464079e-03
   1.19833226e-03 -1.63745502e-06 -2.22810089e-03  2.94011668e-03
   2.87434052e-03  1.11502466e-03  4.10534389e-03  1.19098232e-03
  -1.03164246e-03  4.98421180e-03 -2.60271847e-03 -5.05013561e-03
   1.62863873e-03 -2.85603000e-03  8.48401237e-03  1.47765076e-03
  -4.72092386e-04  2.74387425e-03  1.10215827e-03  1.05082872e-03
  -1.72963765e-03 -6.82865455e-04 -1.60350603e-03 -3.32075921e-04
  -4.19615494e-04  2.30272282e-03  3.41006845e-03  2.70096386e-04
   4.63128726e-03  1.01852861e-03  5.23752522e-03  8.19846699e-04
  -2.52790853e-04  3.02566280e-04 -2.71242128e-04 -6.43804452e-04
   3.48979785e-03  1.50951886e-03  3.52426624e-03 -3.48225260e-03
  -5.75430530e-04  5.26827076e-03  1.26818598e-05 -4.16647618e-03
  -8.39021911e-04  4.34996988e-04  1.97467985e-05  2.24896058e-03
   3.72308582e-03  1.31819532e-03 -1.58815054e-03 -1.99534434e-03
  -5.53394745e-03 -5.06609941e-03  3.36015031e-03  4.73864503e-03
   5.15625802e-03  8.61089744e-03 -4.68279066e-03  2.08080982e-03
  -1.67137077e-03  6.93250688e-05  2.36138493e-03 -1.82690249e-03
   4.09209114e-03 -1.58986532e-03 -2.43451525e-03  1.23441800e-03
  -8.22698432e-04  4.55042875e-03  1.38159864e-03  8.60727124e-03
   3.69050992e-03 -2.53400608e-03 -4.81701308e-03 -5.73415301e-03
   9.04982232e-03 -3.91112733e-03  1.32196931e-03 -2.11653360e-03
   2.41145729e-04 -1.10512631e-02 -6.23231239e-03  2.76843857e-03
   4.14197840e-03 -6.36489133e-04 -1.15303138e-03 -4.28941926e-03
   2.69618175e-03 -3.80302643e-03 -3.57148853e-03  1.79603568e-03
   2.27049758e-03 -2.37099035e-03  1.82233017e-03 -5.41628633e-03
  -4.59666508e-03  4.51227581e-03  3.56762211e-03 -4.12110179e-03
  -5.14822977e-03  6.10414680e-04  1.72237776e-03  5.38341537e-03
  -2.69522867e-03 -1.79115122e-04 -4.46128728e-03  6.68631289e-03
   4.07266075e-03  1.66210543e-03  1.07318610e-03  5.03676008e-03
  -6.37846239e-04 -1.80042096e-04 -5.42999391e-03  2.32922604e-03
  -6.82303857e-04  2.25931962e-03  1.56838464e-03  1.75075936e-03
  -5.18601249e-03  9.06268150e-03 -2.75223508e-03  5.20740242e-03
   4.22568504e-03 -1.01802023e-03  3.60227019e-04 -4.90503438e-03
  -6.43041601e-03 -2.41190237e-03  2.25803298e-03  1.58708350e-04
   7.68232282e-05 -9.47779296e-03  3.08169508e-03 -1.97590161e-03
  -4.10682383e-03  1.17789345e-04 -5.12588252e-03 -3.84678155e-03
  -4.43286324e-03  9.31143289e-04 -1.39329613e-03 -3.35012418e-03
   1.28456941e-02 -4.14126412e-03 -3.18877055e-03 -1.49482380e-03
   2.31425984e-03  3.38475114e-03  6.40583844e-03 -3.25375100e-03
  -5.12121782e-03 -1.59481266e-03 -3.51733178e-03  1.19643809e-03
   1.31191869e-03 -8.01254410e-04 -1.33377237e-03  5.07286593e-04
   2.96187973e-03  6.10171248e-03  3.36826064e-03  4.35820109e-03
  -6.45516204e-03 -7.63429425e-04 -2.43274598e-03 -3.53393757e-03
   2.59275411e-03 -1.91393784e-03  7.09479529e-04 -4.70381519e-04
  -2.86783766e-03  3.66516074e-03 -4.02711559e-03  8.55327099e-04
   1.21433513e-03  1.70185879e-03  1.39048953e-03  4.04931872e-04
  -1.99894605e-03  4.39439450e-03 -5.78532984e-03 -1.19405923e-03
   7.10882647e-03 -1.17383915e-02  4.80938483e-03  1.36386586e-03
  -2.30893500e-03  3.43541416e-03 -8.74661196e-04  2.64201579e-03
  -4.75447728e-03  2.33278796e-03 -2.49105475e-03  1.00262526e-03
  -1.25031996e-03  3.89938129e-04  5.72032772e-03  3.23332934e-04
  -5.95975796e-04  1.42877826e-03  3.73637902e-03  2.06861682e-04
  -6.42680532e-03  4.20161602e-03 -4.43346777e-03  5.41654240e-04
   5.40581368e-04 -3.86190393e-03  1.40316002e-03  2.43340471e-03
  -1.07839050e-03  5.69818425e-03  9.08864659e-04 -4.20004278e-03
   2.68523704e-04 -4.58500028e-04 -1.09165935e-03 -2.86422945e-03
  -1.16515487e-03  3.51776015e-03 -2.90439313e-03  5.75445012e-03
   2.61452113e-03  5.62607303e-03  1.01274535e-02  1.43637829e-03
  -2.78166279e-03  2.74377279e-03 -1.45601057e-03 -1.24415518e-03
   1.02738775e-03  9.58944594e-04 -1.74646464e-03 -5.58796386e-03
   4.05863696e-03 -7.16442928e-03  1.00788242e-02  5.28383025e-03
   1.68430266e-03 -6.78269682e-03  5.78395989e-04  1.56422836e-03
  -2.33984909e-04  5.24916935e-03 -2.12520076e-03 -7.33370394e-04
  -1.95909030e-03 -2.99953473e-03]]

In [15]:
# R square on training data

Regression_Model.score(training_features, training_target)

0.002748202023038382

In [16]:
# download the latest tournament dataset (takes around 30s)
tournament_data = pd.read_csv("latest_numerai_tournament_data.csv.xz")
tournament_data.head()

,id,era,data_type,feature_intelligence1,feature_intelligence2,feature_intelligence3,feature_intelligence4,feature_intelligence5,feature_intelligence6,feature_intelligence7,...,feature_wisdom38,feature_wisdom39,feature_wisdom40,feature_wisdom41,feature_wisdom42,feature_wisdom43,feature_wisdom44,feature_wisdom45,feature_wisdom46,target
0,n0003aa52cab36c2,era121,validation,0.25,0.75,0.50,0.50,0.0,0.75,0.5,...,0.75,0.75,1.00,0.75,0.50,0.5,1.0,0.00,0.00,0.25
1,n000920ed083903f,era121,validation,0.75,0.50,0.75,1.00,0.5,0.00,0.0,...,0.50,0.50,0.75,1.00,0.75,0.5,0.5,0.50,0.50,0.50
2,n0038e640522c4a6,era121,validation,1.00,0.00,0.00,1.00,1.0,1.00,1.0,...,0.00,0.00,0.50,0.25,0.00,0.0,0.5,0.50,0.00,1.00
3,n004ac94a87dc54b,era121,validation,0.75,1.00,1.00,0.50,0.0,0.00,0.0,...,0.00,0.00,0.00,0.25,0.00,0.0,0.0,0.25,0.25,0.50
4,n0052fe97ea0c05f,era121,validation,0.25,0.50,0.50,0.25,1.0,0.50,0.5,...,0.50,0.75,0.00,0.00,0.75,1.0,0.0,0.25,1.00,0.75

In [17]:
tournament_data.tail()

,id,era,data_type,feature_intelligence1,feature_intelligence2,feature_intelligence3,feature_intelligence4,feature_intelligence5,feature_intelligence6,feature_intelligence7,...,feature_wisdom38,feature_wisdom39,feature_wisdom40,feature_wisdom41,feature_wisdom42,feature_wisdom43,feature_wisdom44,feature_wisdom45,feature_wisdom46,target
2210935,nffd4dca666527aa,eraX,live,0.25,0.25,0.25,0.00,0.25,0.25,0.25,...,1.0,1.00,0.0,0.0,1.00,0.75,0.00,1.00,1.00,NaN
2210936,nffdbcade5a291a7,eraX,live,0.00,0.00,0.00,0.50,0.25,0.00,0.25,...,0.5,0.50,0.0,0.0,0.50,0.50,0.00,0.50,0.50,NaN
2210937,nfff85c23d664eed,eraX,live,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,0.0,0.00,0.5,0.5,0.50,1.00,0.25,0.25,0.00,NaN
2210938,nfffc328db414b01,eraX,live,0.00,0.50,0.75,0.00,0.25,0.50,0.50,...,0.5,0.75,0.0,0.0,0.75,0.50,0.25,0.75,0.75,NaN
2210939,nfffca84caea862a,eraX,live,0.25,0.25,0.00,0.75,0.50,0.75,0.25,...,0.0,0.00,1.0,1.0,0.25,0.25,0.75,1.00,1.00,NaN

In [18]:
# Examining the tournament data size
print(tournament_data.shape)

(2210940, 314)

### Generate first prediction
Now that we have a trained model, we can use it to make predictions on the tournament data.

In [19]:

# select the feature columns from the tournament data
live_features = tournament_data[explanatory_variables]

In [20]:
# predict the target on the live features
predictions = Regression_Model.predict(live_features)

In [22]:
# predictions must have an `id` column and a `prediction` column
predictions_df = tournament_data["id"].to_frame()
predictions_df["prediction"] = predictions
predictions_df.head(5)

                 id  prediction
0  n0003aa52cab36c2    0.481608
1  n000920ed083903f    0.492837
2  n0038e640522c4a6    0.530817
3  n004ac94a87dc54b    0.497083
4  n0052fe97ea0c05f    0.503089

### Making my first submission
To enter the tournament, we must submit the predictions back to Numerai. We will use the numerapi library to do this.

In [23]:
public_id = "OZDAXUM6JNXXEENWL5Q4EMXFYI56ZPAU"
secret_key = "7OYGFB62GLF2D4DO4AKLM2V6H4IHMVIOZ44CIFCSTPY3RB7T34UWRRCLQ6C65A6J"
model_id = "824a7d77-29ba-4f3b-aa96-2df0b4e94865"
napi = numerapi.NumerAPI(public_id = "OZDAXUM6JNXXEENWL5Q4EMXFYI56ZPAU", secret_key = "7OYGFB62GLF2D4DO4AKLM2V6H4IHMVIOZ44CIFCSTPY3RB7T34UWRRCLQ6C65A6J")

In [ ]:
# Upload your predictions
predictions_df.to_csv("model__predictions.csv", index=False)
submission_id = napi.upload_predictions("model__predictions.csv", model_id="824a7d77-29ba-4f3b-aa96-2df0b4e94865")

2023-03-05 16:21:42,116 INFO numerapi.base_api: uploading predictions...